name: Build, Security Scan and Analyze

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: build-and-deploy
    runs-on: ubuntu-latest


    steps:
        # name: 1. Recuperation du code
        - uses: actions/checkout@v4

        - name: 2. Setup Java JDK 17
          uses: actions/setup-java@v4
          with:
          java-version: '17'
          distribution: 'zulu'

         #name: 3. Connexion Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

         #name: 4. Build et Push Docker
            run: |
              docker build -t salam630/jpetstore-groupe-app:latest .
              docker push salam630/jpetstore-groupe-app:latest

         # name: 5. Analyse SonarQube
          env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          run: |
            if [ -f "pom.xml" ]; then
            mvn sonar:sonar -Dsonar.host.url= -Dsonar.projectKey=TP-Sonarqube
            else
              echo "Pas de pom.xml, analyse ignoree"
              fi

          # name: 6. Deploiement SSH sur AWS
          uses: appleboy/ssh-action@master
          with:
          host: 16.16.67.62
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            Sudo docker pull salam630/jpetstore-groupe-app:latest
            sudo docker stop petshop || true
            sudo docker rm petshop || true
              sudo docker run -d --name petshop -p 80:8080 salam630/jpetstore-groupe-app:latest